
.wp-btn-1,.wp-btn-2{
    display: inline-block;
    width: 98%;
    max-width: 250px;
    border:none;
    min-height: 40px;
    border-radius: 30px;
}


.wp-btn-1{
    margin-top: 70px;
}

.wp-btn-2{
    margin-top: 20px;
}
