.container_card{
    display: block;
    max-width: 70%;
    border-radius: 20px;
    // background-color: rgb(0, 0, 0);

    .container{
        display: block;
    }
    
    // .upload[type="file"]{
    //     opacity: 0;
    // }
    
    .box-info{
        background-color: rgb(223, 223, 223);
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        min-height: 270px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px 0px 10px 10px;
        
        @media screen and (max-width: 1990px) {
            max-width: 50%;
            width: 50%;
        }
    }
}

.upload-image-event{
    border-radius: 10px 10px 0px 0px;
    display: block;
    max-width: 100%;
    min-height: 150px;
    min-height: 160px;
    width: 50%;
    background-color: rgb(240, 240, 240);
    // border:none;
  
    @media screen and (max-width: 500px) {
      max-width: 100%;
      width: 100%;
      min-height: 200px;
    }
  }

  .upload-icon{
      width: 50px;
      color: #a1a1a1;
  }

  .upload{
    cursor: pointer;
  }

  .container-upload{
      overflow: hidden;
      position: relative;
    //   background-color: red;
      width: 160px;
      height: 100px;
      input,svg{
        position: absolute;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
      }
      input{
        //   background-color: royalblue;
          z-index: 11;
          opacity: 0;
      }
      svg{
        // background-color: black;
        z-index: 10;
    }
}


.image-preview{
    position: absolute;
    z-index: 11;
    left: 0;
    max-width: 100%;
    //   width: 500px;
    //   height:600px;
  }