.img{
    margin-top: 40px;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .home{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-home{
    margin-top: 40px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-relative-cnt{
    position: relative;
    height: 30px;


    .bg-relative-f, .bg-relative-b{
      position: absolute;
      max-width: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }

    .bg-relative-f{
      z-index: 10;
    }
    
    .bg-relative-b{
      z-index: 9;
    }
  }