.img-principal{
    margin-top: 50px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.container-button-principal{
    display: block;
    max-width: 100%;
    width: 300px;
    margin-top:19vh;
    margin-left: auto;
    margin-right: auto;
}

.button-principal{
    margin-top: 10px;
}

.container-buttons-home{
    margin-top:19vh;
}

// .container-main{
//     position: relative;
//     width: 300px;
// }