.container-top-bar{
    max-width: 100%;
    width: 6%;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
}

.voltar-topbar{
    color: white;
    padding: 5px;
    margin-right: auto;
    margin-left: 10px;
    display: block;
    width: 50px;
}