.tag-preferences{
    margin: 0;
    display: inline-block;
    margin-left: 15px;
    margin-top: 0.8rem;
    max-width: 100%;
    border: none;
    border-radius: 30px;
    width: 150px;
    background-color:transparent;
    border:#000000 solid 1px;
    color:#000000;
    
    &:hover{
        background: linear-gradient(40deg, $orange, $rose) !important;
        color:white;
        border:none;

        animation-name: tag-preferences-animation;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
    
}

@keyframes tag-preferences-animation {
    0% { filter: grayscale(0.3);opacity: 0.1;color:#ffd86f;}
    90% { filter: grayscale(0);opacity: 1;color:white;}
    100%{filter: grayscale(0);opacity: 1;color:white;}
  }