@import './componentsSCSS/cpmButton.scss';
@import './componentsSCSS/cpmInput.scss';
@import './componentsSCSS/cpmHome.scss';
@import './componentsSCSS/cpmMain.scss';
@import './componentsSCSS/cpmLogin.scss';
@import './componentsSCSS/cpmTopBar.scss'; 
@import './componentsSCSS/cpmLoading.scss'; 
@import './componentsSCSS/cpmTag.scss'; 
@import './componentsSCSS/cpmOptions.scss'; 

.wp-card{
  display: flex;
  border-radius:50px;
  box-shadow: 10px 10px 10px red;
}

.wp-cntr-1{
width: 300px;
max-width: 100%;
margin: auto;
padding: 0;
}

.wp-center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

// Create Event

.upload-image-event{
  max-width: 50%;
  width: 100%;
  min-height: 200px;
  background-color: rgb(223, 223, 223);
  border:none;

  @media screen and (max-width: 500px) {
    max-width: 100%;
    width: 100%;
    min-height: 200px;
  }
}


.box-info{
  display: block;
  max-width: 25%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 600px) {
    max-width: 100%;
    width: 100%;
  }
}

.subtitle{
  margin-right: auto !important;
  margin-left: 10px;
    display: block;
    max-width: 100%;
    width: 100px;
    align-items: center
}

.title{
  display: block;
  max-width: 50%;


  @media screen and (max-width: 600px) {
    max-width: 20%;
    font-size: 25px;
  }
}

.title-b{
  display: block;
  max-width: 50%;


  @media screen and (max-width: 600px) {
    max-width: 80%;
    font-size: 25px;
  }
}

.box-tags{
  display: block;
  max-width: 100%;
  width: 65%; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  
  @media screen and (max-width: 600px) {
    max-width: 100%;
    width: 100%;
    margin-bottom: 80px;
  }
}
